#Magnificient{
    
    width: 100%;
    height: 300px;
     
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-image: url(../photos/bgn-heading-02.jpg);
}
.content{
    position: absolute;
    top: 30%;
    left: 50%;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,#1976bc 0%,#8dc645 100%)
}


.slick-dots li button::before{
    font-size: 36px;
}

.slick-next{
    right:25px;
    font-size: 25px;
}

.slick-prev{
    left:25px;
    font-size: 25px;

    z-index: 50;
}
#carousel-thumb{

}
#Magnificient2{
padding-top: 70px;
}
.carousel-indicators{
    margin:0;
}